absl-py>=1.4.0
appnope>=0.1.3
asttokens>=2.0.5
astunparse>=1.6.3
backcall>=0.2.0
cachetools>=5.3.0
certifi>=2022.12.7
charset-normalizer>=3.1.0
contourpy>=1.0.7
cycler>=0.11.0
debugpy>=1.6.0
decorator>=5.1.1
entrypoints>=0.4
executing>=0.8.3
flatbuffers>=23.3.3
fonttools>=4.39.3
gast>=0.4.0
google-auth>=2.17.3
google-auth-oauthlib>=1.0.0
google-pasta>=0.2.0
grpcio>=1.54.0
h5py>=3.8.0
idna>=3.4
imageio>=2.28.1
importlib-metadata>=6.6.0
importlib-resources>=5.12.0
ipykernel>=6.13.0
ipython>=8.3.0
jax>=0.4.8
jedi>=0.18.1
joblib>=1.2.0
jupyter-client>=7.3.1
jupyter-core>=4.10.0
keras>=2.12.0
Keras-Applications>=1.0.8
Keras-Preprocessing>=1.1.2
kiwisolver>=1.4.4
lazy_loader>=0.2
libclang>=16.0.0
llvmlite>=0.40.0
locket>=1.0.0
Markdown>=3.4.3
MarkupSafe>=2.1.2
matplotlib>=3.7.1
matplotlib-inline>=0.1.3
ml-dtypes>=0.1.0
mock>=5.0.2
more-itertools>=9.1.0
MouseInfo>=0.1.3
mpmath>=1.3.0
msgpack>=1.0.5
multipledispatch>=0.6.0
nest-asyncio>=1.5.5
networkx>=3.1
numba>=0.57.0
numexpr>=2.8.4
numpy>=1.23.5
oauthlib>=3.2.2
olefile>=0.46
opt-einsum>=3.3.0
packaging>=23.1
pandas>=2.0.1
pandocfilters>=1.5.0
parso>=0.8.3
partd>=1.4.0
path>=16.6.0
pathtools>=0.1.2
patsy>=0.5.3
pep8>=1.7.1
pexpect>=4.8.0
pickleshare>=0.7.5
Pillow>=9.5.0
pkginfo>=1.9.6
platformdirs>=3.5.0
pluggy>=1.0.0
ply>=3.11
prometheus-client>=0.16.0
prompt-toolkit>=3.0.29
protobuf>=4.22.3
psutil>=5.9.0
ptyprocess>=0.7.0
pure-eval>=0.2.2
pyasn1>=0.5.0
pyasn1-modules>=0.3.0
PyAutoGUI>=0.9.53
pycodestyle>=2.10.0
pycosat>=0.6.3
pyflakes>=3.0.1
PyGetWindow>=0.0.9
Pygments>=2.12.0
PyMatching>=2.1.0
PyMsgBox>=1.0.9
pyobjc>=9.1.1
pyobjc-core>=9.1.1
pyobjc-framework-Accessibility>=9.1.1
pyobjc-framework-Accounts>=9.1.1
pyobjc-framework-AddressBook>=9.1.1
pyobjc-framework-AdServices>=9.1.1
pyobjc-framework-AdSupport>=9.1.1
pyobjc-framework-AppleScriptKit>=9.1.1
pyobjc-framework-AppleScriptObjC>=9.1.1
pyobjc-framework-ApplicationServices>=9.1.1
pyobjc-framework-AppTrackingTransparency>=9.1.1
pyobjc-framework-AudioVideoBridging>=9.1.1
pyobjc-framework-AuthenticationServices>=9.1.1
pyobjc-framework-AutomaticAssessmentConfiguration>=9.1.1
pyobjc-framework-Automator>=9.1.1
pyobjc-framework-AVFoundation>=9.1.1
pyobjc-framework-AVKit>=9.1.1
pyobjc-framework-BusinessChat>=9.1.1
pyobjc-framework-CalendarStore>=9.1.1
pyobjc-framework-CallKit>=9.1.1
pyobjc-framework-CFNetwork>=9.1.1
pyobjc-framework-ClassKit>=9.1.1
pyobjc-framework-CloudKit>=9.1.1
pyobjc-framework-Cocoa>=9.1.1
pyobjc-framework-Collaboration>=9.1.1
pyobjc-framework-ColorSync>=9.1.1
pyobjc-framework-Contacts>=9.1.1
pyobjc-framework-ContactsUI>=9.1.1
pyobjc-framework-CoreAudio>=9.1.1
pyobjc-framework-CoreAudioKit>=9.1.1
pyobjc-framework-CoreBluetooth>=9.1.1
pyobjc-framework-CoreData>=9.1.1
pyobjc-framework-CoreHaptics>=9.1.1
pyobjc-framework-CoreLocation>=9.1.1
pyobjc-framework-CoreMedia>=9.1.1
pyobjc-framework-CoreMediaIO>=9.1.1
pyobjc-framework-CoreMIDI>=9.1.1
pyobjc-framework-CoreML>=9.1.1
pyobjc-framework-CoreMotion>=9.1.1
pyobjc-framework-CoreServices>=9.1.1
pyobjc-framework-CoreSpotlight>=9.1.1
pyobjc-framework-CoreText>=9.1.1
pyobjc-framework-CoreWLAN>=9.1.1
pyobjc-framework-CryptoTokenKit>=9.1.1
pyobjc-framework-DataDetection>=9.1.1
pyobjc-framework-DeviceCheck>=9.1.1
pyobjc-framework-DictionaryServices>=9.1.1
pyobjc-framework-DiscRecording>=9.1.1
pyobjc-framework-DiscRecordingUI>=9.1.1
pyobjc-framework-DiskArbitration>=9.1.1
pyobjc-framework-DVDPlayback>=9.1.1
pyobjc-framework-EventKit>=9.1.1
pyobjc-framework-ExceptionHandling>=9.1.1
pyobjc-framework-ExecutionPolicy>=9.1.1
pyobjc-framework-ExternalAccessory>=9.1.1
pyobjc-framework-FileProvider>=9.1.1
pyobjc-framework-FileProviderUI>=9.1.1
pyobjc-framework-FinderSync>=9.1.1
pyobjc-framework-FSEvents>=9.1.1
pyobjc-framework-GameCenter>=9.1.1
pyobjc-framework-GameController>=9.1.1
pyobjc-framework-GameKit>=9.1.1
pyobjc-framework-GameplayKit>=9.1.1
pyobjc-framework-ImageCaptureCore>=9.1.1
pyobjc-framework-IMServicePlugIn>=9.1.1
pyobjc-framework-InputMethodKit>=9.1.1
pyobjc-framework-InstallerPlugins>=9.1.1
pyobjc-framework-InstantMessage>=9.1.1
pyobjc-framework-Intents>=9.1.1
pyobjc-framework-IntentsUI>=9.1.1
pyobjc-framework-IOBluetooth>=9.1.1
pyobjc-framework-IOBluetoothUI>=9.1.1
pyobjc-framework-IOSurface>=9.1.1
pyobjc-framework-iTunesLibrary>=9.1.1
pyobjc-framework-KernelManagement>=9.1.1
pyobjc-framework-LatentSemanticMapping>=9.1.1
pyobjc-framework-LaunchServices>=9.1.1
pyobjc-framework-libdispatch>=9.1.1
pyobjc-framework-libxpc>=9.1.1
pyobjc-framework-LinkPresentation>=9.1.1
pyobjc-framework-LocalAuthentication>=9.1.1
pyobjc-framework-LocalAuthenticationEmbeddedUI>=9.1.1
pyobjc-framework-MailKit>=9.1.1
pyobjc-framework-MapKit>=9.1.1
pyobjc-framework-MediaAccessibility>=9.1.1
pyobjc-framework-MediaLibrary>=9.1.1
pyobjc-framework-MediaPlayer>=9.1.1
pyobjc-framework-MediaToolbox>=9.1.1
pyobjc-framework-Metal>=9.1.1
pyobjc-framework-MetalKit>=9.1.1
pyobjc-framework-MetalPerformanceShaders>=9.1.1
pyobjc-framework-MetalPerformanceShadersGraph>=9.1.1
pyobjc-framework-MetricKit>=9.1.1
pyobjc-framework-MLCompute>=9.1.1
pyobjc-framework-ModelIO>=9.1.1
pyobjc-framework-MultipeerConnectivity>=9.1.1
pyobjc-framework-NaturalLanguage>=9.1.1
pyobjc-framework-NetFS>=9.1.1
pyobjc-framework-Network>=9.1.1
pyobjc-framework-NetworkExtension>=9.1.1
pyobjc-framework-NotificationCenter>=9.1.1
pyobjc-framework-OpenDirectory>=9.1.1
pyobjc-framework-OSAKit>=9.1.1
pyobjc-framework-OSLog>=9.1.1
pyobjc-framework-PassKit>=9.1.1
pyobjc-framework-PencilKit>=9.1.1
pyobjc-framework-PHASE>=9.1.1
pyobjc-framework-Photos>=9.1.1
pyobjc-framework-PhotosUI>=9.1.1
pyobjc-framework-PreferencePanes>=9.1.1
pyobjc-framework-PushKit>=9.1.1
pyobjc-framework-Quartz>=9.1.1
pyobjc-framework-QuickLookThumbnailing>=9.1.1
pyobjc-framework-ReplayKit>=9.1.1
pyobjc-framework-SafariServices>=9.1.1
pyobjc-framework-SceneKit>=9.1.1
pyobjc-framework-ScreenSaver>=9.1.1
pyobjc-framework-ScreenTime>=9.1.1
pyobjc-framework-ScriptingBridge>=9.1.1
pyobjc-framework-SearchKit>=9.1.1
pyobjc-framework-Security>=9.1.1
pyobjc-framework-SecurityFoundation>=9.1.1
pyobjc-framework-SecurityInterface>=9.1.1
pyobjc-framework-ServiceManagement>=9.1.1
pyobjc-framework-ShazamKit>=9.1.1
pyobjc-framework-Social>=9.1.1
pyobjc-framework-SoundAnalysis>=9.1.1
pyobjc-framework-Speech>=9.1.1
pyobjc-framework-SpriteKit>=9.1.1
pyobjc-framework-StoreKit>=9.1.1
pyobjc-framework-SyncServices>=9.1.1
pyobjc-framework-SystemConfiguration>=9.1.1
pyobjc-framework-SystemExtensions>=9.1.1
pyobjc-framework-UniformTypeIdentifiers>=9.1.1
pyobjc-framework-UserNotifications>=9.1.1
pyobjc-framework-UserNotificationsUI>=9.1.1
pyobjc-framework-VideoSubscriberAccount>=9.1.1
pyobjc-framework-VideoToolbox>=9.1.1
pyobjc-framework-Virtualization>=9.1.1
pyobjc-framework-Vision>=9.1.1
pyobjc-framework-WebKit>=9.1.1
pyparsing>=3.0.8
pyperclip>=1.8.2
PyRect>=0.2.0
pyrsistent>=0.19.3
PyScreeze>=0.1.28
python-dateutil>=2.8.2
pytoolconfig>=1.2.5
pytweening>=1.0.5
pytz>=2023.3
PyWavelets>=1.4.1
PyYAML>=6.0
pyzmq>=22.3.0
requests>=2.29.0
requests-oauthlib>=1.3.1
retworkx>=0.12.1
rope>=1.7.0
rsa>=4.9
ruamel.yaml>=0.17.22
ruamel.yaml.clib>=0.2.7
rubicon-objc>=0.4.6
rustworkx>=0.12.1
scikit-image>=0.20.0
scikit-learn>=1.2.2
scipy>=1.9.1
seaborn>=0.12.2
Send2Trash>=1.8.2
simplegeneric>=0.8.1
singledispatch>=4.0.0
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
snowballstemmer>=2.2.0
sortedcollections>=2.1.0
sortedcontainers>=2.4.0
soupsieve>=2.4.1
sphinxcontrib-applehelp>=1.0.4
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=2.0.1
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.3
sphinxcontrib-serializinghtml>=1.1.5
stack-data>=0.2.0
tblib>=1.7.0
tensorboard>=2.12.3
tensorboard-data-server>=0.7.0
tensorboard-plugin-wit>=1.8.1
tensorflow>=2.12.0
tensorflow-estimator>=2.12.0
tensorflow-io-gcs-filesystem>=0.32.0
termcolor>=2.3.0
terminado>=0.17.1
testpath>=0.6.0
threadpoolctl>=3.1.0
tifffile>=2023.4.12
tomli>=2.0.1
toolz>=0.12.0
tornado>=6.1
traitlets>=5.2.0
typing_extensions>=4.5.0
tzdata>=2023.3
ujson>=5.7.0
unicodecsv>=0.14.1
urllib3>=1.26.15
wcwidth>=0.2.5
webencodings>=0.5.1
Werkzeug>=2.3.3
widgetsnbextension>=4.0.7
wrapt>=1.14.1
xlrd>=2.0.1
XlsxWriter>=3.1.0
zipp>=3.15.0
